* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #1e1e1e;
}

.form {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 200px;
  color: rgb(216, 216, 216);
  gap: 20px;
}

.input {
  display: flex;
  width: 400px;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  background-color: rgb(197, 197, 197);
  color: #1e1e1e;
  border: 0px solid rgb(0, 0, 0);
}

.submitBtn {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 110px;
    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    background-color: rgb(211, 211, 211);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.submitBtn:hover {
  background-color: rgb(175, 175, 175);
}

.inputDiv {
  display: flex;
  justify-content: center;
}

#password {
  text-decoration: none;
}

/* Input errors */

.errorText {
  font-size: 1.3rem;
  color: brown;
}